<div class="container-fluid d-flex flex-column justify-content-center align-items-center text-center h-100">
  
  <div class="container h-100">
    <div class="logo-card mb-5">
      <img [src]="logo" alt="PAP DigiHub Logo" class="logo-img mb-3">
    </div>
    <div class="row g-3 justify-content-center">
      @for (item of dashboards; track $index) {
        <div class="col-md-3 col-sm-6">
          <button 
            class="btn pap-btn w-100" 
            (click)="navigateTo(item.route)">
            {{ item.name }}
          </button>
        </div>
      }
    </div>
  </div>
  <div class="main-footer d-flex justify-content-between align-items-center w-100 px-4 mt-5 flex-wrap flex-md-nowrap">
      <div class="building text-center w-100 text-md-start mb-3 mb-md-0">
        <img [src]="assebmle_pic" alt="Building" height="55">
      </div>

      <div class="pitb-logo text-center text-md-end">
        <img [src]="pitb_logo" alt="PITB Logo" height="40"><br>
        Powered by: Punjab Information Technology Board
      </div>
    </div>
</div>