.dashboard-card-big{
    min-height: 250px;
    .label{
        font-size: 24px;
    }
    @media screen and (max-width: 768px) {
        min-height: 200px;
    }
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
}